<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">

	<context:component-scan base-package="com.bscc.controller"></context:component-scan>
	<context:component-scan base-package="com.bscc.service"></context:component-scan>
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="user" value="root"></property>
		<property name="password" value="123"></property>
		<property name="jdbcUrl"
			value="jdbc:mysql://127.0.0.1:3306/mybatis?useSSL=false"></property>
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
	</bean>
	<!-- 配置跟Mybatis整合 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- 配置扫描Mybatis的Mapper类和XML文件 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 指定你的文件在哪里 -->
		<property name="basePackage" value="com.bscc.mapper"></property>
	</bean>

	<!-- 配置事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<!-- 配置multipartResolver处理器 -->
	<!-- <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"> 
		<property name="defaultEncoding" value="UTF-8"></property> <property name="maxUploadSize" 
		value="200000"></property> </bean> -->

	<!-- 开启MVC的注解支持 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	<!-- 开启静态资源的支持 -->
	<mvc:default-servlet-handler />

	<!-- 配置注解事务支持 -->
	<tx:annotation-driven transaction-manager="transactionManager" />

</beans>
